html { 
  background: url(../public/images/bgImages/bgimage2.png) no-repeat center center fixed; 
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-position: 0% 0%;
}
